<h1>{{title}}</h1>
<h2>{{2+2}}</h2>
<img [src]="imgUrl"/>
<img src="{{imgUrl}}"/>
<br>
<button [disabled]="isDisabled">Click Me</button>
<hr />
 <!-- Property binding -->
<button [attr.aria-lable]="arialabltex">Attribute Binding</button>
<!-- 
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>John Doe</td>
            <td>30</td>
        </tr>
        <tr>
            <td>paol</td>
            <td>32</td>
        </tr>
        <tr>
            <td [colSpan]="colspan">Sum of Ages = 62</td>
        </tr>
    </table> -->

    <!-- Style bynding -->
    <h2 [style.color]="color" [style.backgroundColor]="'yellow'">{{title}}</h2>
    <!-- Class binding -->
    <h4 [class.active]="isActive" [class.nonactive]="!isActive">{{title}}</h4>
    <hr/>
    <p [style.color]="isActive ? 'red':'green'" [style.backgroundColor]="isActive ? 'green':'red'">Paragraph</p>
    <h5 [class.active]="name=='Krishan'">This is H5 tag</h5>
    <h5 [class.nonactive]="name!='Krishan'">This is H5 tag</h5>

    <button (click)="buttonclicked()">Click Me</button>
   <Br/>
<Br/>
    <input (keyup)="InputEvent($event)"/>
    <Br/>
        <br/>
        <input (keydown.shift.enter)="KeyDownClick()"/>
        <br/><br/>
        <input (keyup)="Krypressed(inputRef)" #inputRef id="Name"/>
        <br/>
        <h1>{{inputValue}}</h1>

        <hr>

        <!-- Two way binding  -->
<input [(ngModel)]="twoWayValue"/>   
<h1>{{twoWayValue}}</h1>      